* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.App {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(0, 14, 27, 1) 0%,
    rgba(39, 57, 71, 1) 100%,
    rgba(251, 251, 251, 1) 100%
  );
}
.body-homepage,
.body-firstpage,
.body-createpage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-firstpage {
  .content-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
      height: 150px;
      width: 150px;
      border: none;
      border-radius: 50%;
    }

    Button {
      color: white;
    }
  }
}
.body-homepage {
  gap: 10%;
  position: relative;
  img {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  Button {
    color: white;
  }
}
@media screen and (max-width: 400px) {
  .body-homepage {
    flex-direction: column;
  }
}
.container-setRoomInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: solid 2px white;
  border-radius: 5px;
  padding: 20px 10px;
  gap: 5px;
}
label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
  a {
    width: 50%;
    color: white;
  }
  input {
    width: 50%;
  }
}
